body {
  font-family: 'DM Sans', sans-serif;
  background-color: lightgrey;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 5%;
}

.container {
  position: relative;
  width: 30%;
  padding: 0 5% 5% 5%;
  margin: 10% auto 0 auto;
  text-align: center;
  background-color: black;
  color: white;
}

.selection {
  width: 20%;
  padding: 10px;
  background-color: lightblue;
  border-radius: 5px;
  margin-right: 10px;
}

#your-points {
  position: absolute;
  left: 10px;
}

#cpu-points {
  position: absolute;
  right: 10px;
}
